body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*Navigation*/
nav {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25vh;
    height: 75px;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #f9faf8;
    font-weight: 300;
}

.navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

.bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #f9faf8;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

.nav-item {
    height: 100%;
    cursor: pointer;
    transition: .4s;
    padding: 20px 24px;
}

.nav-item:hover {
    background: #f9faf8;
    color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

/*Header*/
header {
    background-color: #1F2937;
    color: #f9faf8;
}

header .container {
    margin: 10vh 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

header img {
    width: 400px;
}

header .button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    padding: 6px 24px;
    border-radius: 8px;
    border: none;
}
/*Random Information*/
.random-info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 25vh 10vh;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.cards .item {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.cards img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

/*Block Quote*/
.block-quote {
    background-color: #e5e7eb;
}

blockquote {
    display: flex;
    flex-direction: column;
    margin: 5vh 25vh;
    font-size: 36px;
    color: #1F2937;
}

blockquote p {
    font-weight: 100;
    font-style: italic;
}

blockquote span {
    align-self: flex-end;
}

/*Call to action*/
.cta {
    padding: 15vh 25vh; 
}

.cta .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 36px 32px;
    color: #f9faf8;
}

.cta-text {
    line-height: 1.5px;
}

.cta .button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    padding: 6px 24px;
    font-weight: 600;
}

.button:hover {
    background-color: #f9faf8;
    color: #3882f6;
    cursor: pointer;
}

/*Footer*/
footer {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 36px 0;
    text-align: center;
}

/*Tablet-Horizontal*/
@media only screen and (max-width: 1024px) {
    nav {
        padding: 0 2rem;
    }

    nav .nav-item {
        padding: 10px 14px;
    }

    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    } 

    header .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    header img {
        width: 100%;
    }

    .random-info .container {
        margin: 2rem;
    }
    
    .cta-text {
        text-align: center;
    }

    blockquote {
        margin: 2rem;
    }

    .cta {
        padding: 2rem;
    }

    .cta .container {
        flex-direction: column;
    }
}

/*Tablet-Portrait*/
@media only screen and (max-width: 860px) {
    .nav-list {
        display: grid;
        position: absolute;
        background: #1F2937;
        width: 100%;
        top: 75px;
        left: 0;
        /*transform: translateY(-100%); */
        z-index: -1;
        transition: .6s;
    }

    .nav-item {
        padding-left: 35px;
    }

    .navbar-toggler {
        display: grid !important;
    }
}